*{
    padding: 0;
    margin: 0;
}
.main {
    background-image: url(images/bg9.jpg);
    background-size: cover;
    height: 100vh;
    
}
.navbar{
    height: 80px;
    width: 100%;
    background: black;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
     text-decoration: none;
     color: white;
     font-size: 20px;
     padding: 6px 13px;
     font-family: sans-serif;
     cursor: pointer;
    }
.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
.main .childhood{
text-align: justify;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    font-family: sans-serif;
    user-select: none;
}


